body {
  text-align: center;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

 
.home{
  text-align: center;
  padding: 200px;
}

.mainHeadings{
  font-size: x-large;
}
 
table thead tr th{
  font-size: large;
}
